---
http_interactions:
- request:
    method: post
    uri: https://api.gocardless.com/bank_details_lookups
    body:
      encoding: UTF-8
      string: '{"bank_details_lookups":{"country_code":"GB","account_number":"00622660","branch_code":"777224"}}'
    headers:
      Gocardless-Version:
      - '2015-07-06'
      Content-Type:
      - application/json
      Authorization:
      - "<access_token>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"0b407e526651d9a7adacba3be0376f9d"
      Ratelimit-Limit:
      - '1000'
      Ratelimit-Remaining:
      - '999'
      Ratelimit-Reset:
      - Tue, 15 Nov 2016 10:59:00 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"bank_details_lookups":{"bank_name":"TSB BANK PLC","available_debit_schemes":["bacs"],"bic":"TSBSGB21429"}}'
  recorded_at: Tue, 15 Nov 2016 10:58:40 GMT
recorded_with: VCR 3.0.3
